.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
}

.container.light {
    color: var(--light-primary-color);
}

.container.dark {
    color: var(--dark-primary-color);
}

.container svg {
    font-size: 40px;
}