.container {
    box-sizing: border-box;
    border: var(--dev-border);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
}

.container.light {
    color: var(--light-primary-color);
}

.container.dark {
    color: var(--dark-primary-color);
}

.container svg {
    font-size: 2.5rem;
    /* margin: .5em; */
}

.container.light svg:hover {
    color: var(--light-secondary-color);
}

.container.dark svg:hover {
    color: var(--dark-secondary-color);
}

@media screen and (max-width: 640px) {
    .container svg {
        border: var(--dev-border);
        font-size: 2rem;
        /* width: 1em; */
    }

    .container.light svg:hover {
        color: var(--light-primary-color);
    }
    
    .container.dark svg:hover {
        color: var(--dark-primary-color);
    }
}