h1, p {
    margin: 0;
}
.presentation {
    position: absolute;
    top: 300px;
    height: fit-content;
    width: 1170px;
}

.occupation {
    font-family: InterBlack;
    text-align: right;
    font-size: 128px;
    line-height: 130px;
    width: 1154px;
}

.occupation.light {
    color: var(--light-primary-color);
}

.occupation.dark {
    color: var(--dark-primary-color);
}

.salutation {
    font-size: 32px;
    position: absolute;
    font-weight: 700;
    top: 130px;
    left: 5px;
}

.salutation.light {
    color: var(--light-secondary-color);
}

.salutation.dark {
    color: var(--dark-secondary-color);
}

.summary {
    width: 781px;
    font-size: 32px;
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    top: 260px;
    left: 390px;
}

.summary.light {
    color: var(--light-secondary-color);
}

.summary.dark {
    color: var(--dark-secondary-color);
}

.iconLinks {
    position: absolute;
    top: 180px;
    left: 30px;
    width: fit-content;
    display: flex;
    gap: .8em;
    align-items: center;
}



.iconLink {
    font-size: 55px;
}

.iconLink.light {
    color: var(--light-primary-color);
}

.iconLink.light:hover {
    color: var(--light-secondary-color);
}

.iconLink.dark {
    color: var(--dark-primary-color);
}

.iconLink.dark:hover {
    color: var(--dark-secondary-color);
}
