* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.container {
  border: var(--dev-border);
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentationPT {
  border: var(--dev-border);
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  grid-template-columns: 320px auto auto;
  grid-template-areas:
    "occupation1 occupation1 occupation1"
    "myName occupation2 occupation2"
    "links occupation2 occupation2"
    "summary summary summary";
}

.presentationEN {
  border: var(--dev-border);
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "occupation1 occupation1 myName"
    "occupation1 occupation1 links"
    "occupation2 occupation2 occupation2"
    "summary summary summary";
}

.occupationText {
  font-family: InterBlack;
  line-height: 120px;
  font-size: 128px;
}

.occupationText.right {
  text-align: right;
}

.myName {
  grid-area: myName;
  border: var(--dev-border);
}

.occupationPt1 {
  border: var(--dev-border);
  width: 100%;
  grid-area: occupation1;
}

.occupationPt2 {
  border: var(--dev-border);
  width: 100%;
  justify-self: right;
  grid-area: occupation2;
}

.salutation {
  font-size: 32px;
  font-weight: 700;
  top: 130px;
  left: 5px;
}

.summary {
  border: var(--dev-border);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  grid-area: summary;
}

.summaryText {
  width: 770px;
  justify-self: right;
  font-size: 32px;
  font-weight: 700;
  font-size: 24px;
}

.iconLinks {
  border: var(--dev-border);
  width: fit-content;
  display: flex;
  gap: 0.8em;
  justify-self: center;
  grid-area: links;
}

.iconLink {
  font-size: 55px;
}

.occupation.light,
.occupationText.light,
.iconLink.light {
  color: var(--light-primary-color);
}

.iconLink.light:hover,
.summary.light,
.salutation.light {
  color: var(--light-secondary-color);
}

.iconLink.dark,
.occupationText.dark,
.occupation.dark {
  color: var(--dark-primary-color);
}

.summary.dark,
.salutation.dark,
.iconLink.dark:hover {
  color: var(--dark-secondary-color);
}

@media screen and (max-width: 640px) {
  .container {
    border: var(--dev-border);
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .presentationPT {
    border: var(--dev-border);
    display: grid;
    padding: 1em;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "myName links"
    "occupation1 occupation1"
    "occupation2 occupation2"
    "summary summary";
    justify-content: center;
  }

  .presentationEN {
    border: var(--dev-border);
    display: grid;
    padding: 1em;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "myName links"
      "occupation1 occupation1"
      "occupation2 occupation2"
      "summary summary";
    justify-content: center;
  }

  .occupationText {
    font-family: InterBlack;
    line-height: 45px;
    font-size: 45px;
    text-align: right;
  }

  .occupationPt1 {
    border: var(--dev-border);
    width: 100%;
    margin-top: .5em;
    
  }

  .occupationPt2 {
    border: var(--dev-border);
    width: 100%;
    margin-bottom: .5em;
  }

  .salutation {
    font-size: 20px;
    /* text-indent: .4em; */
    text-align: right;
  }
  
  .myName {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: right;
    width: 105%;
    height: 100%;
  }

  .iconLinks {
    width: fit-content;
    display: flex;
    gap: 0.2em;
    justify-self: end;
  }

  .iconLinks > a:first-child {
    margin-right: -6px;
  }

  .iconLinks > :last-child {
    font-size: 38px;
  }

  .iconLink {
    font-size: 35px;
    height: 35px;
  }

  .summaryText {
    width: 100%;
    justify-self: right;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
  }
}
