* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.presentationContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 87vh;
}

.presentationGrid {
  display: grid;
  grid-template-rows: auto 5rem auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    "occupation1 occupation1"
    "salutation occupation2"
    "links occupation2"
    "links summary";

  gap: 0.2rem 2rem;
}

.occupation1 {
  grid-area: occupation1;
  /* background-color: red; */

  width: 100%;
  align-self: center;
}

.occupation2 {
  grid-area: occupation2;
  /* background-color: yellow; */

  width: 100%;
  align-self: center;
}

.occupationText {
  font-family: InterBlack;
  margin: 0;
  line-height: clamp(6.5rem, 7.5vw, 10rem);
  font-size: clamp(7rem, 9vw, 10rem);
}

.salutation {
  grid-area: salutation;
  /* background-color: green; */

  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  line-height: 100%;
  font-size: clamp(2rem, 0.5rem + 2vw, 3rem);
}

.iconLinks {
  grid-area: links;
  /* background-color: blue; */

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.iconLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 2.5rem + 2vw, 5rem);
  border-radius: 5px;
  transition: 0.2s;
}

.iconLink.light {
  box-shadow: 2px 2px 0.2rem var(--light-third-color);
}

.iconLink.dark {
  box-shadow: 2px 2px 0.2rem var(--dark-secondary-color);
}

.iconLink:hover {
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-5px);
}

.summary {
  grid-area: summary;
  /* background-color: orange; */

  width: 64rem;
  width: clamp(42rem, 60.3vw, 50vw);
}

.summary p {
  font-weight: 700;

  font-size: 1.5em;
  line-height: clamp(1.8rem, 1.8vw, 30rem);
  font-size: clamp(1.3rem, 1.5vw, 2rem);
}

@media screen and (max-width: 640px) {
  .presentationContainer {
    height: 75vh;
  }
  
  .presentationGrid {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
      "links"
      "salutation"
      "occupation1"
      "occupation2"
      "summary";
    gap: 1rem;
    padding: 1rem 1.5rem;
  }

  .occupationText {
    font-family: InterBlack;
    margin: 0;
    line-height: 7vw;
    font-size: clamp(2rem, 10vw, 10rem);
  }

  .iconLinks {
    grid-area: links;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    /* background-color: red; */
  }

  .iconLink {
    width: 45px;
    height: 45px;
    font-size: 2rem;
  }

  .salutation {
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
  }

  .occupation1 {
    grid-area: occupation1;
    /* background-color: green; */
  }

  .occupation2 {
    grid-area: occupation2;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
  }

  .summary {
    grid-area: summary;
    /* background-color: orange; */

    width: 100%;
  }

  .summary p {
    font-weight: 700;

    line-height: clamp(1.8rem, 1.8vw, 30rem);
    font-size: clamp(1.3rem, 1.5vw, 2rem);
    line-height: 1.5rem;
    font-size: 1.2rem;
  }

  /* .occupationText {
    font-family: InterBlack;
    margin: 0;
    line-height: 2.25rem;
    width: 100%;
    font-size: clamp(.5rem, 2.25rem + 2vw, 3rem);
  } */
}
