.container {
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
  gap: 2rem;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 6rem;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  height: 5px;
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
  .container > a:last-child {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: flex;
    justify-content: flex-start;
    justify-self: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 1rem;
    padding: 0 10vw;
    
  }

  .container::-webkit-scrollbar {
    display: none;
}
}