.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 640px) {
  .container {
    display: flex;
    justify-content: flex-start;
    justify-self: flex-start;
    flex-wrap: nowrap;
    /* width: fit-content; */
    /* margin-left: 3rem; */

    overflow-x: scroll;
    gap: 1rem;
    margin-left: 10vw;
    
  }

  .container::-webkit-scrollbar {
    display: none;
}
}