.background {
    box-sizing: border-box;
    width: 100%;
    height: 2160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.background.light {
    background: var(--background-light-gradient);
}

.background.dark {
    background: var(--background-dark-gradient);
}