.background {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  box-sizing: border-box;
}

.background.light {
  background: var(--background-light-gradient);
}

.background.light svg,
.background.light h1 {
  background-image: var(--title-light-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background.light p {
  color: var(--gray1);
}

.background.dark {
  background: var(--background-dark-gradient);
}

.background.dark svg,
.background.dark h1 {
  background-image: var(--title-dark-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background.dark p {
  color: var(--gray1);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgb(177, 177, 177);
}

::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-primary-color);
}
