.background.dark {
  background: var(--background-dark-gradient);
}

.background.dark svg,
.background.dark h1 {
  color: var(--dark-primary-color);
  /* color: red; */
}

.background.dark p {
  color: var(--dark-secondary-color);
  /* color: blue; */
}

.background.light {
  background: var(--background-light-gradient);
}

.background.light svg,
.background.light h1 {
  color: var(--light-primary-color);
  /* color: red; */
}

.background.light p {
  color: var(--light-secondary-color);
  /* color: blue; */
}









.background {
  width: 100%;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--light-primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-primary-color);
}

.line {
  background-color: red;
  position: absolute;
  top: 99.9vh;
  width: 100%;
  height: 1px;
}