svg {
    transition: .2s;
}

svg:hover {
    cursor: pointer;
    transition: .2s;
    transform: translateY(-10px);
}

:root {
    --background-light-gradient: linear-gradient(
        180deg,
        #ffc72c 0%,
        #ff8a00 50%,
        #651f71 100%
        );
        --background-dark-gradient: linear-gradient(
            180deg,
            #020B57 0%,
            #35049c 50%,
            #10022E 100%
            );
            --light-primary-color: #651f71;
            --light-secondary-color: #7037cd;
            --dark-primary-color: #AD15B0;
            --dark-secondary-color: #6914AC;
        }
        @font-face {
            font-family: Inter;
            src: url(assets/fonts/Inter-Regular.ttf);
        }

@font-face {
    font-family: InterBlack;
    src: url(assets/fonts/Inter-Black.ttf);
}

* {
    font-family: Inter;
}

html {
  height: 100vh;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: none;
  user-select: none;
}

head {
  height: 100vh;
}
