:root {
  --background-light-gradient: linear-gradient(
    180deg,
    #e2e2e2 0%,
    #c5c5c5 50%,
    #a4a4a4 100%
  );

  --background-dark-gradient: linear-gradient(
    180deg,
    #1e1e1e 0%,
    #1b1b1c 50%,
    #080809 100%
  );

  --title-light-gradient: linear-gradient(180deg, #d81dd0 0%, #7511f4 100%);

  --title-dark-gradient: linear-gradient(180deg, #04b3ea 0%, #9624ef 100%);

  --gray1: #5a5a5a;
  --gray2: #ddd;
  --gray3: #28252c;
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: InterBlack;
  src: url(assets/fonts/Inter-Black.ttf);
}

* {
  font-family: Inter;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: none;
  user-select: none;
}
